

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color:rgb(23, 23, 23) ;
  color: rgb(255 255 255);


}

dl, ol, ul, h3, p {
  margin-top: 0;
  margin-bottom: 0rem;
  padding-left: 0rem;
}

ul li {
  list-style: none;
}

button ,input ,select {
  background-color: initial;
}

a {
  color: inherit;
  text-decoration: none;
}

.borderColor {
  --tw-border-opacity: 1;
  border: 1px solid  rgb(64 64 64/var(--tw-border-opacity));
}

.bg-neutral-900 {
  background-color:rgb(23, 23, 23) ;
}

.textWhite {
  
  color: rgb(255 255 255) !important;
}

.paleWhite {
  color: hsla(0,0%,100%,.6);
}

.textColor{
  --tw-text-opacity: 1;
  color: rgb(163 163 163/var(--tw-text-opacity));
}

.text-sm {
  font-size: .75rem;
  line-height: 1rem;
}

.fs-1 {
  font-size: 3.2rem !important;
}

.fs-17 {
  font-size: 17px;
}

.fs-12 {
  font-size: 12px;
}

.fontSize-14 {
  font-size: 14px;
}

.max-width-500 {
  max-width: 500px;
}




.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-full {
  border-radius: 2rem;
}

.border-b {
  --tw-border-opacity: 1;
  border-bottom: 1px solid  rgb(64 64 64/var(--tw-border-opacity));  
}
.border-t {
  --tw-border-opacity: 1;
  border-top: 1px solid  rgb(64 64 64/var(--tw-border-opacity));  
}

.border-r{
  --tw-border-opacity: 1;
  border-right: 1px solid  rgb(64 64 64/var(--tw-border-opacity));
}

.max-height-40 {
  max-height: 40px;
}


.aspect-square {
  aspect-ratio: 1/1;
}

.mt-20 {
  margin-top: 5rem;
}

.px-20  {
  padding-left: 7rem;
}

.p-12 {
  padding: 3rem;
}

.font-weight-700 {
  font-weight: 700;
}
.font-weight-600 {
  font-weight: 600;
}

.bottom-30 {
  bottom: 30% !important;
}

.bottom-15 {
  bottom: 15%;
}


.flex-item {
  flex:1 0 10rem; /* 10px'lik bir kenar boşluğu eklemek için */
}

.max-height-275 {
  max-height: 275px;
}
.max-height-550 {
  max-height: 550px;
}

.min-width-67 {
  min-width: 67px;
}

.max-width-475 {
  max-width: 475px;
}

.width-1 {
  width: 1px;
}
.width-20 {
  width: 5rem;
}

.height-30 {
  height: 30vh;
}

.height-16 {
  height: 4rem;
}
.height-20 {
  height: 5rem;
}

.height-11 {
  height: 2.75rem;
}

.height-6 {
  height: 1.5rem;
}

.object-contain {
  -o-object-fit: contain;
  object-fit: contain;
}

.animate-carousel {
  animation: marquee 60s linear infinite;
} 






@media screen and  (max-width:768px) {


  .flex-item {
     flex: 0 0 0;
  } 
   
 

}