.myCustomClass {
    align-items: start;
    display: flex;
    width: 100%;
    gap: 20px;
    border-top: 1px solid #e5e5e5; 
    font-size: 0.875rem; 
    border-color: #4a5568; 
  }

  .logo {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    background-color: black;
    text-align: center;
   
}

.logo svg {
    height: 10px;
    width: 10px;
    fill: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

 ul li .footerContent {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    
}

ul li .footerContent:hover {
    color: white;
    text-decoration: underline;
}

.verticaLine {
    border: none;
    border-left: 1px solid #ccc;
    height: 10px; 
    display: block;
    
  
}
  
  